.div-top {
    background-color: white;
    margin: 10px;
    width: 100%;
    height: 85%;
    border-radius: 8px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.notes-field {
    margin: 10px;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    resize: none;

    padding: 5px;
}



