.chatbox {
    overflow-y: auto;
    height: 86%;
    border-top: 10px solid #454545;
    background-color: #454545;
}

.chatbox::-webkit-scrollbar {
    display: none;
}

.ur-chatbox{
    position: absolute;  
    bottom: 1%;
    display: flex;
    align-items: flex-end;
    width: 100%;
    height: 11%;
}

.chatbox-input {
    margin-left: 2%;
    width: 83%;
    height: 95%;
    border-radius: 4px;
    resize: none;
    padding: 5px;
}

.btn-send-message {
    margin: auto;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background-color: #5EA3E2;

    color: white;
    font-size: 25px;
    padding-bottom: 1px;
    padding-left: 3px;
}

.btn-send-message:hover {
    transition: 0.2s;
    background-color: rgb(25, 129, 226);
}
