.user-div{
    width: 95%;
    height: 85px;
    background-color: #ffffff;
    border-radius: 8px;
    margin-bottom: 10px;
    transform: translate(2.5%);
    padding: 5px;
    border: 2px solid #c4c4c4;

    align-items: center;
    display: grid;
    grid-template-columns:
    /* 1 */ auto
    /* 2 */ 1fr;
}

.user-pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #c4c4c4;
    grid-column: 1;
    margin-right: 10px;
}

.content-div{
    grid-column: 2;
    
    display: grid;
    grid-template-rows:
    /* 1 */ auto
    /* 2 */ 1fr;
}

.user-name {
    color: #000000;
    grid-row: 1;
    font-size: large;
    font-weight: bold;
}

.user-skill {
    color: #7e7e7e;
    grid-row: 2;
    font-size: small;
    font-weight: 500;
}